<!-- Main -->
			<div id="main">

				<!-- Header -->
					<%= render 'shared/header' %>
        
				<!-- Thumbnail -->
        <%= render 'shared/thumbnail' %>

				<!-- Footer -->
        <%= render 'shared/footer' %>

			</div>